services:
  db:
    # TODO: check tag
    image: mongo:latest
    ports:
      - 27017:27017
    volumes:
      - db:/data/db
  app:
    build: .
    ports:
      - ${PORT}:${PORT}
    environment:
      MONGODB_URI: ${MONGODB_URI}
      JWT_SECRET: ${JWT_SECRET}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      # DB_USER: ${{DB_USER}}
      # DB_PASS: ${{DB_PASS}}
      PORT: ${PORT}
    depends_on:
      - db
volumes:
  db:
